[package]
name = "bevy_hanabi"
version = "0.1.2"
authors = ["Jerome Humbert <djeedai@gmail.com>"]
edition = "2021"
description = "Hanabi GPU particle system for the Bevy game engine"
repository = "https://github.com/djeedai/bevy_hanabi"
homepage = "https://github.com/djeedai/bevy_hanabi"
documentation = "https://docs.rs/bevy_hanabi"
keywords = ["bevy", "particle-system", "particles", "vfx"]
license = "MIT OR Apache-2.0"
readme = "README.md"
exclude = ["examples/*.gif", ".github"]

[dependencies]
bytemuck = "1.5"
rand = "0.8"
rand_pcg = "0.3"
serde = { version = "1.0", features = ["derive"] }
anyhow = "1.0"
ron = "0.7"
bitflags = "1.3"

[dependencies.bevy]
version = "0.6"
default-features = false
features = [ "render" ]

[dev-dependencies]
bevy-inspector-egui = "0.8"
smooth-bevy-cameras = "0.2"

[[example]]
name = "spawn"
required-features = [ "bevy/bevy_winit" ]

[[example]]
name = "random"
required-features = [ "bevy/bevy_winit" ]

[[example]]
name = "gradient"
required-features = [ "bevy/bevy_winit", "bevy/png" ]

[[example]]
name = "circle"
required-features = [ "bevy/bevy_winit", "bevy/png" ]

[[example]]
name = "spawn_on_command"
required-features = [ "bevy/bevy_winit" ]

[[example]]
name = "activate"
required-features = [ "bevy/bevy_winit" ]

[[example]]
name = "force_field"
required-features = [ "bevy/bevy_winit" ]

# [[example]]

[workspace]
resolver = "2"
members = ["."]
