[package]
name = "bevy_hanabi"
version = "0.5.0-dev"
authors = ["Jerome Humbert <djeedai@gmail.com>"]
edition = "2021"
description = "Hanabi GPU particle system for the Bevy game engine"
repository = "https://github.com/djeedai/bevy_hanabi"
homepage = "https://github.com/djeedai/bevy_hanabi"
documentation = "https://docs.rs/bevy_hanabi"
keywords = ["bevy", "particle-system", "particles", "vfx"]
license = "MIT OR Apache-2.0"
readme = "README.md"
exclude = ["examples/*.gif", "examples/*.png", ".github", "release.md"]

[features]
default = [ "2d", "3d", "gpu_tests" ]
2d = []
3d = []

# Special feature to enable GPU-based tests, which otherwise fail
# on a CI machine without a graphic adapter or without proper drivers.
gpu_tests = []

[dependencies]
bytemuck = { version = "1.5", features = ["derive"] }
copyless = "0.1"
rand = "0.8"
rand_pcg = "0.3"
serde = { version = "1.0", features = ["derive"] }
anyhow = "1.0"
ron = "0.7"
bitflags = "1.3"

[dependencies.bevy]
git = "https://github.com/bevyengine/bevy.git"
branch = "main"
default-features = false
features = [ "bevy_core_pipeline", "bevy_render", "bevy_asset" ]

[package.metadata.docs.rs]
all-features = true

[dev-dependencies]
# Same version as Bevy 0.8
wgpu = "0.13.1"

futures = "0.3"
bevy-inspector-egui = "0.12"

# For shader snippet validation
naga = "0.9"

[[example]]
name = "spawn"
required-features = [ "bevy/bevy_winit", "bevy/bevy_pbr", "3d" ]

[[example]]
name = "random"
required-features = [ "bevy/bevy_winit", "bevy/bevy_pbr", "3d" ]

[[example]]
name = "gradient"
required-features = [ "bevy/bevy_winit", "bevy/bevy_pbr", "bevy/png", "3d" ]

[[example]]
name = "circle"
required-features = [ "bevy/bevy_winit", "bevy/bevy_pbr", "bevy/png", "3d" ]

[[example]]
name = "spawn_on_command"
required-features = [ "bevy/bevy_winit", "bevy/bevy_pbr", "3d" ]

[[example]]
name = "activate"
required-features = [ "bevy/bevy_winit", "bevy/bevy_pbr", "3d" ]

[[example]]
name = "force_field"
required-features = [ "bevy/bevy_winit", "bevy/bevy_pbr", "3d" ]

[[example]]
name = "2d"
required-features = [ "bevy/bevy_winit", "bevy/bevy_sprite", "2d" ]

[[example]]
name = "lifetime"
required-features = [ "bevy/bevy_winit", "bevy/bevy_pbr", "3d" ]

[workspace]
resolver = "2"
members = ["."]
